.App {
  font-family: sans-serif;
  position: relative;
  text-align: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  color: white;
  overflow: hidden;
}

.bg {
  background: url("./background.png");
  font-family: sans-serif;
  position: relative;
  text-align: center;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: hidden;
}
